body {
  font-family: -apple-system, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pad-bottom {
  padding-bottom: 60px;
}

.biryani {
  font-family: 'Biryani', sans-serif;
}

.biryani-black {
  font-family: 'Biryani', sans-serif;
  font-weight: 900;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.bg-featured {
  background-image: url('../images/featured-mix.jpg');
}

.mix-title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

.play-button {
  width: 80px;
  height: 80px;
  background-image: url('../images/play-button.svg');
}

.playing .play-button {
  background-image: url('../images/pause-button.svg');
}

.archive .play-button {
  width: 36px;
  height: 36px;
}

.mixes .play-button {
  width: 48px;
  height: 48px;
}

.button {
  border: none;
  outline: none;
}

.mixes {
  padding-bottom: 5rem;
}

.mix {
  width: calc(50% - 1rem);
}

.mix:nth-of-type(even) {
  transform: translateY(4rem);
}

.nav-link {
  border-bottom: solid 3px rgba(0, 0, 0, 0);
}

.nav-link.active {
  color: #000;
  border-bottom-color: #000;
}

.mix-overlay:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
