body {
  font-family: 'Work Sans', -apple-system, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #5c5c5c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pad-bottom {
  padding-bottom: 60px;
}

.biryani {
  font-family: 'Biryani', sans-serif;
}

.biryani-black {
  font-family: 'Biryani', sans-serif;
  font-weight: 900;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.orange {
  color: #fd9427;
}

.mix-title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

.play-button {
  background-color: #fd9427;
  border-radius: 100%;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 80px;
  height: 80px;
  background-image: url('../images/play.svg');
  background-size: 25% !important;
  background-position-x: 55%;
}

.play-button:hover {
  box-shadow: 0 0 0.5rem rgba(50, 50, 50, 0.25);
  transform: scale(1.25);
}

.playing .play-button:hover {
  background-image: url('../images/pause.svg');
  background-position-x: center;
}

.playing .play-button:not(:hover) {
  background-image: url('../images/bars.svg');
  background-size: 37% !important;
  background-position-x: center;
}

.loading .play-button {
  background-image: url('../images/loader.svg');
  background-size: 55% !important;
  background-position-x: center;
}

.archive .play-button {
  width: 36px;
  height: 36px;
}

.mixes .play-button {
  width: 48px;
  height: 48px;
}

.mixes .playing .play-button {
  width: 72px;
  height: 72px;
}

.button {
  border: none;
  outline: none;
}

.mixes {
  padding-bottom: 5rem;
}

.mix {
  width: 100%;
}

.nav-link {
  border-bottom: solid 3px rgba(0, 0, 0, 0);
}

.nav-link.active {
  color: #000;
  border-bottom-color: #000;
}

.mix-overlay:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.lh-1 {
  line-height: 1;
}

@media (min-width: 480px) {
  .mix {
    width: calc(50% - 1rem);
  }

  .mix:nth-of-type(even) {
    transform: translateY(4rem);
  }
}

@media (max-width: 480px) {
  .play-button {
    width: 64px;
    height: 64px;
  }

  .mix-title {
    font-size: 2.5rem;
  }
}
